{% extends 'layout/base.html' %} {% block lang %}pt-br{% endblock %} {% block title %}website1{% endblock %} {% block head %}
<link rel="stylesheet" href="www/css/page/home.css" />
<script src="www/js/page/home.js" defer></script>
{% endblock %}

<div>
	{% block content %}

	<h1>Inicio</h1>

	<section class="main_row">
		<span>
			<p>Recentes</p>
			<hr />
			<br /><br />
		</span>

		<h2>episódios recentes</h2>
		<article class="post-row">
			{% for i in range(0, 50) %}
			<li class="poster_episode">
				<img src="www/img/poster/poster.jpg" alt="poster" />
			</li>
			{% endfor %}
		</article>

		<h2>animes recentes</h2>
		<article class="post-row">
			<li class="poster_anime">
				<img src="www/img/poster/poster.jpg" alt="poster" />
			</li>
		</article>

		<span>
			<p>Populares</p>
			<hr />
			<br /><br />
		</span>

		<h2>animes populares</h2>
		<article class="post-row">
			{% for i in range(0, 50) %}
			<li class="poster_anime">
				<img src="www/img/poster/poster.jpg" alt="poster" />
			</li>
			{% endfor %}
		</article>

		<h2>episódios populares</h2>
		<article class="post-row">
			{% for i in range(0, 50) %}
			<li class="poster_episode">
				<img src="www/img/poster/poster.jpg" alt="poster" />
			</li>
			{% endfor %}
		</article>
	</section>

	{% endblock %}
</div>
