<header id="m_header">
	<main>
		<section id="m_logo">
			<a href="#">Anime<span class="redtext">IR.</span></a>
		</section>

		<section>
			<button onclick="MenuListManager()" id="m_menu">
				<i class="bi bi-grid-3x3-gap"></i>
			</button>
			<ul id="menu_list">
				<li>
					<i class="bi bi-play-btn pr10 color2"></i>
					<a href="#">Animes</a>
				</li>
				<li>
					<i class="bi bi-collection-play pr10 color2"></i>
					<a href="#">Episódios</a>
				</li>
				<li>
					<i class="bi bi-columns-gap pr10 color2"></i>
					<a href="#">Categorias</a>
				</li>
				<li>
					<i class="bi bi-person pr10 color2"></i>
					<a href="#"><span class="redtext">Login</span></a>
				</li>
			</ul>
		</section>
	</main>
</header>
