<header id="m_header">
	<main>
		<section id="m_logo">
			<a href="#">Anime<span class="redtext">IR.</span></a>
		</section>

		<section>
			<button onclick="MenuListManager()" id="m_menu">
				<i class="bi bi-grid-3x3-gap-fill"></i>
			</button>
			<ul id="menu_list">
				<li><a href="#">Animes</a></li>
				<li><a href="#">Episódios</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Ajuda</a></li>
				<li>
					<a href="#"><span class="redtext">Login</span></a>
				</li>
			</ul>
		</section>
	</main>
</header>
