<footer id="m_footer">
	<main>
		<article id="m_footer_list">
			<section class="m_footer_content">
				<h2>Companhia</h2>
				<br />
				<ul>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Termos de uso</a></li>
					<li><a href="#">Políticas de privacidade</a></li>
				</ul>
			</section>
			<section class="m_footer_content">
				<h2>Social</h2>
				<br />
				<ul>
					<li><a href="#">Ajuda</a></li>
					<li><a href="#">Discord</a></li>
					<li><a href="#">Instagram</a></li>
				</ul>
			</section>
			<section class="m_footer_content">
				<h2>Website</h2>
				<br />
				<ul>
					<li><a href="#">Início</a></li>
					<li><a href="#">Animes</a></li>
					<li><a href="#">Episódios</a></li>
				</ul>
			</section>
			<section class="m_footer_content">
				<h2>Parceiro</h2>
				<br />
				<ul>
					<li><a href="#">Anime<span style="color: #64fac8">IR<span></a></li>
				</ul>
			</section>
		</article>
		<p id="copyright">&copy; All rights reserved, by <a href="/" style="color: #64fac8">AnimeIR</a></p>
	</main>
</footer>
