#m_footer {
	position: relative;
	display: flex;

	width: 100%;
	min-height: 50px;

	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	background-color: #5d3eff;
}

#m_footer > main {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 50px 0;

	max-width: 1280px;

	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: space-between;

	background-color: transparent;
}

#m_footer_list {
	width: 100%;
	height: auto;

	position: relative;
	display: flex;
	flex-wrap: wrap;

	align-items: flex-start;
	align-content: center;
	justify-items: center;
	justify-content: space-around;
}

#copyright {
	margin-top: 25px;
	color: #e1e1fa;
	font-size: 16px;
	text-transform: none;
	cursor: context-menu;
}

#copyright a {
	color: inherit;
	text-decoration: underline;
	padding: 10px;
	cursor: pointer;
}

.m_footer_content {
	display: flex;
	flex-direction: column;
}

.m_footer_content > h2 {
	color: #e1e1fa;
	font-size: 22px;
	text-transform: capitalize;
}

.m_footer_content > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}
.m_footer_content > ul > li {
	padding: 5px;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m_footer_content > ul > li > a {
	text-decoration: none;
	color: #e1e1fa;
	background-color: transparent;
	font-size: 16px;
	text-transform: capitalize;
	padding: 10px;
}

.m_footer_content > ul > li:hover {
	transform: translateX(10px);
}

.m_footer_content > ul > li > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	#m_footer_list {
		padding: 20px;
		justify-content: center;
	}

	.m_footer_content {
		margin: 0 20px;
		min-width: calc(100% / 3);
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 512px) {
	#m_footer_list {
		flex-direction: column;
		padding: 0;
		justify-content: center;
	}

	.m_footer_content {
		margin: 0 10px;
		min-width: calc(100% / 3);
		margin-bottom: 50px;
	}
}
